beautifulsoup4==4.14.2
cloudscraper==1.2.71
Django==5.2.7
django-extensions
djangorestframework
djangorestframework-simplejwt
drf-spectacular
Pillow==12.0.0
cryptography
Requests==2.32.5
selenium==4.37.0
tqdm==4.67.1
numpy
langchain-huggingface
langchain-text-splitters
sentence-transformers
scikit-learn
gunicorn==21.2.0
PyMySQL==1.1.1
whitenoise==6.11.0
django-redis>=5.0.0
meilisearch
sqlite-vec
locust